#port {
  margin-top: 30vh;
}

.port_inner {
  padding: 16px;

  .port_title {
    /* position: sticky;
  top: 70px;
  left: 0; */
    width: 100%;
    font-size: 4vw;
    font-family: var(--mainEng-font);
    font-weight: 900;
    text-transform: uppercase;
    color: var(--black100);
    border-bottom: 0.4vw solid var(--black100);
    margin-bottom: 16px;
  }
}

.port_inner {
  .port_wrap {
    display: flex;
    flex-wrap: nowrap;
    /* width: 7000px; */
    overflow: hidden;
  }
}
